<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limengze.dao.ArticleMapper">

	<resultMap type="article" id="articleMap">
		<id column="id" property="id"/>
		<result column="channel_id" property="channelId"/>
		<result column="category_id" property="categoryId"/>
		<result column="user_id" property="userId"/>
		<result column="articleType" property="articleType"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
		    jdbcType="INTEGER" javaType="articleType"/>
		<association property="user" column="user_id" 
		   select="com.limengze.dao.UserMapper.findUserById" />
	    <association property="channel" column="channel_id" 
		   select="com.limengze.dao.ChannelMapper.findChannelById" />
		<association property="category" column="category_id" 
		   select="com.limengze.dao.CategoryMapper.findCatById" />
		<association property="tags" column="id" 
		   select="getTagsByArtId" />
	</resultMap>
	
	<!-- resultMap调用的通过文章id获取标签的方法 -->
	<select id="getTagsByArtId" resultType="java.lang.String">
		SELECT
			GROUP_CONCAT( tagname ) tags 
		FROM
			cms_tag t
			JOIN cms_article_tag_middle m ON t.id = m.tid
		WHERE m.aid = #{value}
		GROUP BY m.aid
	</select>
	
	
	<!-- 获取文章列表 -->
	<select id="getArtList" resultMap="articleMap">
		SELECT id,title,picture,channel_id,category_id,user_id,
		        hits,hot,status,created,updated,commentCnt,articleType
		FROM cms_article
		WHERE channel_id = #{chnId}
		<if test="catId != 0">
			AND category_id = #{catId}
		</if>
		AND deleted = 0
		AND status = 1
	</select>
	
	<!-- 获取文章内容 -->
	<select id="getDetail" resultMap="articleMap">
		SELECT id,title,picture,content,channel_id,category_id,user_id,
		        hits,hot,status,created,updated,commentCnt,articleType,keywords,original
		FROM cms_article
		WHERE id = #{value}
		AND deleted = 0
	</select>
	
	<!-- 获取热门文章 -->
	<select id="getHotArticle" resultMap="articleMap">
		SELECT id,title,picture,channel_id,category_id,user_id,
		        hits,hot,status,created,updated,commentCnt,articleType
		FROM cms_article
		WHERE hot > 0
		AND deleted = 0
		AND status = 1
		ORDER BY hot DESC,created DESC
	</select>
	
	<!-- 获取最新文章 -->
	<select id="getNewArticle" resultMap="articleMap">
		SELECT id,title,picture,channel_id,category_id,user_id,
		        hits,hot,status,created,updated,commentCnt,articleType
		FROM cms_article
		WHERE deleted = 0
		AND status = 1
		ORDER BY created DESC limit #{value}
	</select>
	
	
	<!-- 管理文章 -->
	<select id="managerArts" resultMap="articleMap">
		SELECT id,title,picture,channel_id,category_id,user_id,
		        hits,hot,status,created,updated
		FROM cms_article 
		WHERE deleted = 0
		<if test="status != 2 and status != null">
			AND status = #{status}
		</if>
		ORDER BY created DESC 	
	</select>
	
	
	<!-- 创建标签 -->
	<insert id="addTag" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO cms_tag (tagname) VALUES (#{tagname})
	</insert>
	
</mapper>  
